<<<<<<< HEAD
<h1>About Us</h1>
<p>This is the about us page.</p>
<a href="/">Back to Home</a>
=======
<h1>About Us</h1>
<p>This is the about us page.</p>
<a href="/">Back to Home</a>
>>>>>>> 9708d123679f0c82dced4f2988bb03cd650a6021
