<h1>Login</h1>

<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username" required /><br />
  <input
    type="password"
    name="password"
    placeholder="Password"
    required
  /><br />
  <select name="role" required>
    <option value="student">Student</option>
    <option value="owner">Owner</option></select
  ><br />
  <button type="submit">Login</button>
</form>

<p>
  Not registered? <a href="/student_registration">Register as Student</a> |
  <a href="/owner_registration">Register as Owner</a>
</p>