<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
  </head>
  <body>
    <h1>Menu for <%= mealType %></h1>

    <ul>
      <% if (menuItems && menuItems.length > 0) { %> <%
      menuItems.forEach(function(item) { %>

      <h2>Mess Name: <%= item.mess %></h2>
      <li>Items : <%= item.item %></li>
      <li>Price: ₹<%= item.price %></li>
      <% }); %> <% } else { %>
      <li>No menu items available for the selected date.</li>
      <% } %>
    </ul>
  </body>
</html>
